html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Pretendard', sans-serif;

  box-sizing: border-box;
  user-select: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
:root {
  --gray-white: #ffffff;
  --gray-0: #fbfbfb;
  --gray-100: #ebedef;
  --gray-200: #dadcde;
  --gray-300: #cacbcd;
  --gray-400: #abacaf;
  --gray-500: #8d9093;
  --gray-600: #64676c;
  --gray-700: #56595d;
  --gray-800: #3b3d3f;
  --gray-900: #212325;
  --gray-black: #000000;

  --brand-100: #cce4ff;
  --brand-200: #99c8ff;
  --brand-300: #66adff;
  --brand-400: #3391ff;
  --brand-500: #0076ff;
  --brand-600: #005ecc;
  --brand-700: #004799;
  --brand-800: #002f66;
  --brand-900: #001833;

  --negative-500: #f63a3a;

  --caution-500: #ffd224;

  --positive-500: #27b278;
}

.logo-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}
